/*
==================================
Propriétés générales
==================================
*/
html, body {
    height: 100%;
}

/*
==================================
Page d'accueil
==================================
*/
.carousel-item {
    max-height: 60vh;
    min-height: 30vh;
  }

.navbar {
    background-color: rgba(0,0,0,0.2);
}

.btn-card {
    background-color: rgba(21, 43, 165, 0.7);
}
.btn-card-secondary {
    background-color: rgba(21, 43, 165, 0.3);
    margin-left: 10px;
}

.liste {
    margin: 10px 0px 10px 0px;
}
/*
==================================
Page de Jeux
==================================
*/
.background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    background-image: url("../images/space_background.jpg");
    background-size: cover;
    align-content: center;
}
/*
==================================
Page de Connexion
==================================
*/
.background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    background-image: url("../images/space_background.jpg");
    background-size: cover;
    align-content: center;
}

.container_login_register {
    height: 100%;
    width: 100%;
}

.card_login {
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5);
}

.card-header h3 {
    margin-top: 10px;
    text-align: center;
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0;
}

input:focus {
    outline: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}


/*
==================================
Inscription
==================================
*/
label {
    font-size: 1.2em;
    color: white;
    padding-right: 10px;
}

.card_register {
    margin-top: auto;
    margin-bottom: auto;
    width: 800px;
    background-color: rgba(0,0,0,0.5);
}

.card-footer{
    color: white;
    text-align: center;
}

.inscription .row{
    margin-right: 0px;
}



/*
==================================
Footer
==================================
*/
.footer {
    background-color: rgb(52,58,54);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white
}