/*
==================================
Propriétés générales
==================================
*/
html, body {
    height: 100%;
}

/*
==================================
Page d'accueil
==================================
*/
.carousel-item {
    max-height: 60vh;
    min-height: 30vh;
  }

.navbar {
    background-color: rgba(0,0,0,0.2);
}

.btn-card {
    background-color: rgba(21, 43, 165, 0.7) !important;
}
.btn-card-secondary {
    background-color: rgba(21, 43, 165, 0.3) !important;
    margin-left: 10px;
}

.liste {
    margin: 10px 0px 10px 0px;
}
/*
==================================
Page de Jeux
==================================
*/
.background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    background-image: url("../images/space_background.jpg");
    background-size: cover;
    align-content: center;
}

.btn-group-vertical {
  margin: 10px 0px 10px 0px;
}

.console-buttons {
  align-content: center;
}

.btn-console {
  margin: 10px 0px 10px 0px;
  background-color: #FFC312 !important;
}

.console{
  background-color: black;
  color: chartreuse;
  height: 400px;
  box-shadow: #eee;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
}

/*
==================================
Page de Connexion
==================================
*/
.background { /* c'est pas une répétition ça ???*/
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    background-image: url("../images/space_background.jpg");
    background-size: cover;
    align-content: center;
}

.container_login_register {
    height: 100%;
    width: 100%;
}

.card_login {
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5);
}

.card-header h3 {
    margin-top: 10px;
    text-align: center;
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0;
}

input:focus {
    outline: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

.login_btn {
    color: black !important;
    background-color: #FFC312 !important;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.admin_check {
    margin: 16px 16px 16px 8px;
    color:white;
    font-size: 0.9em;
}

.admin_check input {
    margin-top: 7px;
}

/*
==================================
Inscription
==================================
*/
label {
    font-size: 1.2em;
    color: white;
    padding-right: 10px;
}

.card_register {
    margin-top: auto;
    margin-bottom: auto;
    width: 800px;
    background-color: rgba(0,0,0,0.5);
}

.card-footer{
    color: white;
    text-align: center;
}

.inscription .row{
    margin-right: 0px;
}


/*
==================================
Chat
==================================
*/
#page-wrap { 
    width: 300px;
    float: right;
}

#page-wrap h2{ 
    color : white;
}

#chat-wrap {
    border: 1px solid #eee;
    margin: 0 0 15px 0;
}

#chat-area {
    height: 300px;
    overflow: auto;
    border: 1px solid #666;
    padding: 20px;
    background: white;
}

#chat-area span {
    color: white;
    background: #333;
    margin: 0 5px 0 0;
}

#chat-area p {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

#send-message-area p {
    float: left; color: white;
}

#sendie {
    border: 3px solid #999;
    width: 300px;
    padding: 10px;
    float: right;
}


/*
==================================
Footer
==================================
*/
.footer {
    background-color: rgb(52,58,54);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white
}